.container-full{
    width: 100%;
    height: 100%;

}

.box-container-over{
    max-width: 1280px;
    width: 100vh;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.btn-btn{
        color: #fff;
        width: 30px;
        height: auto;
}

.btn-btn:hover {
         color: aqua;
}

.box-container-over h1{
    color: #fff;
}




@media (min-width: 320px) and (max-width: 480px){
     .container-full {
         width: 1280px;
         height: 100%;
     }
   
    
   
  }